.about-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
  background-color: rgb(159, 159, 159);
  padding: 0px 10px;
  border-radius: 15px
}

.about-item-icon {
  margin-right: 20px;
}

.about-item-icon img {
  width: 50px;
  height: 50px;
  background-color: rgb(241, 241, 230);
  border-radius: 10px;
  padding: 3px 5px;
}

.about-grid:nth-child(2) {
  padding: 40px 0;
  row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.about-item-title {
  font-size: 18px;
}

.about-item-descr {
  font-size: 18px;
}



@media screen and (min-width: 992px) {

  .about-grid:nth-child(1),
  .about-grid:nth-child(2),
  .about-grid:nth-child(3) {
    max-width: 100%;
  }

  .about-grid:nth-child(1),
  .about-grid:nth-child(3) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .about-grid:nth-child(1) .section-title {
    text-align: left;
  }

  .about-grid:nth-child(3) .section-title {
    text-align: right;
  }

  .about-grid:nth-child(3) {
    margin-top: 40px;
  }

  .about-grid:nth-child(2) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    column-gap: 20px;
  }
}

.header-container {
  background: url('/src/assets/img/bg-header.jpg') no-repeat center;
  width: 100%;
  background-size: cover;
  color: white;
}

.wrapper {
  width: 100%;
  text-align: center;
}

.header__title {
  padding-top: 50px;
  display: flex;
  margin-bottom: 40px;
  justify-content: space-evenly;
}

.tovar-btn {
  background: none;
  color: white;
  font-size: 25px;
  border: none;
}

.tovar-btn:hover,
.tovar-btn:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 0.7s all;
}

.fabric-btn {
  background: none;
  color: white;
  font-size: 25px;
  border: none;
}
.fabric-btn:hover,
.fabric-btn:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 0.7s all;
}
.header__inp {

}
.inp-search{
  width: 500px;
  height: 40px;
  border-radius: 25px;
  font-size: 18px;
  text-align: center;
  background-color: rgb(247, 247, 247);
  outline: none;
  border: none;
  box-shadow:-1px -15px 6px 11px  rgba(0, 0, 0, 0.2);
}
.inp-btn {
  width: 100px;
  height: 40px;
  border-radius: 25px;
  margin-left: 10px;
  background-color: white ;
}