/* :root {
  --alice-blue: #f1f3f6;

  --gray: #abae82;
} */
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */
/* body {
  font-family: "Quicksand", sans-serif;
} */

/* Utility stylings */
.home-img {
  width: 80%;
  display: block;
}
.container {
  width: 88vw;
  margin: 0 auto;
  background-color: #f1f3f6;

}
.lg-title,
.md-title,
.sm-title {
  font-family: "Roboto", sans-serif;
  padding: 0.6rem 0;
  text-transform: capitalize;
}
.lg-title {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding: 1.3rem 0;
  opacity: 0.9;
}
.md-title {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.sm-title {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
}

.text-light {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  opacity: 0.5;
  margin: 0.4rem 0;
  padding: 50px 0 ;
}

/* product section */
.products {
  background: var(--alice-blue);
  padding: 3.2rem 0;
}

.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem;
  position: relative;
}

.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}

.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-cart {
  background: black;
  color: white;
}

.btn-cart:hover {
  background: var(--carribean-green);
}

.btn-buy {
  background: white;
}

.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}

.product-info {
  background: white;
  padding: 2rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}

/* .product-price:first-of-type {
  text-decoration: line-through;
  color: var(--carribean-green);
} */

.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.1);
}

.product:hover .product-img {
  background: var(--carribean-green);
}

.product:hover .product-btns {
  opacity: 1;
}

.off-info .sm-title {
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}

.product-collection-wrapper {
  padding: 3.2rem 0;
}

.product-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxB-OuYigrTTWAKH8QfLVd1ncvxs3g3pvlzw&usqp=CAU") center/cover no-repeat;
}

.product-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://respect-shoes.ru/upload/medialibrary/17d/17db21f50ea9a461cc07e0e5c52ba461.jpg") center/cover no-repeat;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  padding: 2rem 1.5rem 3.2rem;
  margin: 5px;
}

.product-col-r-bottom>div:first-child {
  background: #eaa001;
}

.product-col-r-bottom>div:last-child {
  background: #0090ff;
}

.product-col-content {
  text-align: center;
  color: white;
}

.product-collection .text-light {
  opacity: 1;
  font-size: 0.8;
  font-weight: 400;
  line-height: 1.7;
}

.btn-dark {
  background: black;
  color: white;
  outline: 0;
  border-radius: 25px;
  padding: 0.7rem 1rem;
  border: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.6s ease;
  font-size: 1rem;
  font-family: inherit;
}

.btn-dark:hover {
  background: var(--carribean-green);
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .product-col-r-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .products .text-light {
    width: 50%;
  }
}

@media screen and (min-width: 1336px) {
  .product-items {
    grid-template-columns: repeat(4, 1fr);
  }

  .product-collection-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .flex {
    height: 60vh;
  }

  .product-col-left {
    height: 121.5vh;
  }
}

/* body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
} */

/* .background {
  background: url("https://images.pexels.com/photos/1095624/pexels-photo-1095624.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
    center top no-repeat #252746;
  background-size: cover;
  display: block;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
} */

.background-texture {
  background: -webkit-gradient(linear,
      left bottom,
      left top,
      from(#0f0140e6),
      to(rgba(255, 214, 117, 0.9)));
  background: linear-gradient(to top, #0f0140e6, rgba(255, 214, 117, 0.9));
  background-size: cover;
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

.carousel {
  width: 100%;
  overflow-x: scroll;
  padding: 30px;
  padding-top: 80px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0px;
  padding-bottom: 10px;
  display: inline-block;
}

.categories__title {
  text-align: center;
  flex-wrap: nowrap;
  color: rgb(77, 55, 102);
  font-size: 28px;
  position: absolute;
  padding-left: 30px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  background-color: #95bcd6;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 70px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: 1000ms all;
  transition: 1000ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  position: relative;
}

.carousel-item:hover~.carousel-item {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item__img {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details {
  background: -webkit-gradient(linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.9)),
      to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0) 100%);
  font-size: 10px;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.carousel-item__details span {
  width: 10px;
  height: 10px;
  font-size: 0.9rem;
  color: #00ff6a;
  background-color: white;
}

.carousel-item__details .controls {
  padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
  color: #fff;
  margin: 5px 0;
}

@media all and (max-width:320px) {
.product-collection .text-light{
  font-size: 14px;
  }
  .md-title{
    margin: 0 ;
    font-size: 25px;
    font-weight: bold;
  }
  .sm-title{
    margin: 0 ;
  }
  .product-col-content{
    height: 99%;
  }
}

@media all and (max-width:376px) {
  .product-collection .text-light{
    font-size: 16px;
    }
    .md-title{
      margin: 0 ;
      font-size: 28px;
      font-weight: bold;
    }
    .sm-title{
      margin: 0 ;
    }
    .product-col-content{
      height: 99%;
    }
  }

  @media all and (max-width:426px) {
    .product-collection .text-light{
      font-size: 17px;
      }
      .md-title{
        margin: 0 ;
        font-size: 26px;
        font-weight: bold;
      }
      .sm-title{
        margin: 0 ;
      }
      .product-col-content{
        height: 99%;
      }
    }
