.products {
  background: var(--alice-blue);
  padding: 3.2rem 0;
}

.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem;
  position: relative;
}

.product-content {
  background: var(--gray);
  padding: 3rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
}

.product-img {
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
}

.product-btns {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 0;
  width: 125px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-cart {
  background: black;
  color: white;
}

.btn-cart:hover {
  background: var(--carribean-green);
}

.btn-buy {
  background: white;
}

.btn-buy:hover {
  background: var(--carribean-green);
  color: #fff;
}

.product-info {
  background: white;
  padding: 2rem;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
  padding-top: 0.6rem;
  padding-right: 0.6rem;
  display: inline-block;
}

.product-price:first-of-type {
  text-decoration: line-through;
  color: var(--carribean-green);
}

.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.1);
}

.product:hover .product-img {
  background: var(--carribean-green);
}

.product:hover .product-btns {
  opacity: 1;
}

.off-info .sm-title {
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}

.product-collection-wrapper {
  padding: 3.2rem 0;
}

.product-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxB-OuYigrTTWAKH8QfLVd1ncvxs3g3pvlzw&usqp=CAU") center/cover no-repeat;
}

.product-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://respect-shoes.ru/upload/medialibrary/17d/17db21f50ea9a461cc07e0e5c52ba461.jpg") center/cover no-repeat;
}

.home-img {
  width: 90%;
  display: block;
  height: 90%;
  margin: 0 auto;
}