.product-items {
  display: flex;
  max-width: 310px;
  justify-content: center;

}

.product {
  margin-right: 2rem;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
}

.products .text-light {
  text-align: center;
  width: 70%;
  margin: 0.9rem auto;
}

.product {
  margin: 2rem 1rem;
  position: relative;
}

.product-content {
  padding: 3rem 0 2rem 0;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0 1px 5px rgba(0, 0 , 0, 0.2);
}

.product-img {
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 250px;
  height: 250px;
  margin: 0;
  border-radius: 50%;
  transition: 0.5s ease;
}

.product-btns {
  display: flex;
  justify-content: center;
  /* margin-top: 1.4rem; */
  opacity: 0;
  transition: opacity 0.6s ease;
}

.btn-cart,
.btn-buy {
  background: transparent;
  border: 1px solid black;
  padding: 0.8rem 5px;
  width: 105px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}

.btn-cart {
  background: black;
  color: white;
}



.btn-buy {
  background: white;
}



.product-info {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) ;
}

.product-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-1 {
  display: flex;
  align-items: flex-end;
  font-size: 15px;
}

.rating span {
  color: var(--carribean-green);
}

.product-name {
  color: black;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.product-price {
 font-size: 20px;
}


.product-img img {
  transition: transform 0.6s ease;
}

.product:hover .product-img img {
  transform: scale(1.1);
}

.product:hover .product-img {
  background: var(--carribean-green);
}

.product:hover .product-btns {
  opacity: 1;
}

.off-info .sm-title {
  background: var(--carribean-green);
  color: white;
  display: inline-block;
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  z-index: 1;
  letter-spacing: 3px;
  cursor: pointer;
}

/* product collection */
.product-collection {
  padding: 3.2rem 0;
}

.product-collection-wrapper {
  padding: 3.2rem 0;
}

.product-col-left {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxB-OuYigrTTWAKH8QfLVd1ncvxs3g3pvlzw&usqp=CAU") center/cover no-repeat;
}

.product-col-r-top {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
    url("https://respect-shoes.ru/upload/medialibrary/17d/17db21f50ea9a461cc07e0e5c52ba461.jpg") center/cover no-repeat;
}

.home-img {
  width: 90%;
  display: block;
  height: 90%;
  margin: 0 auto;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
}

.rating-body {
  position: relative;
}

.rating-body::before {
  content: '★★★★★';
  display: block;
}

/* .rating-active{

} */
.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  flex-direction: row-reverse;
  cursor: pointer;
  overflow: hidden;
}

.rating-item {
  flex: 0 0 15%;
  height: 70%;
  cursor: pointer;
  opacity: 0;
}

.rating-lable {

  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 1px;
  cursor: pointer;
  color: #fff;
}


@media all and (max-width: 900px) {


  .product-content {
    padding: 3rem 0.3rem 2rem 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product {
    margin: 1rem;
  }

  .product-img {
    width: 200px;
    height: 200px;
  }

  .product-img img {
    transition: transform 0.6s ease;
  }

  .product:hover .product-img img {
    transform: scale(1.1);
  }

  .product:hover .product-img {
    background: var(--carribean-green);
  }

  .product:hover .product-btns {
    opacity: 1;
  }

  .btn-cart,
  .btn-buy {
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 100px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
  }

  .btn-cart {
    background: black;
    color: white;
  }

  .btn-cart:hover {
    background: var(--carribean-green);
  }

  .btn-buy {
    background: white;
  }

  .btn-buy:hover {
    background: var(--carribean-green);
    color: #fff;
  }

  .product-1 {
    font-size: 15px;
    line-height: 0.001;
  }

  .product-info {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    padding: 1rem;
  }

  .product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

;



@media all and (max-width: 860px) {
  .product-items {
    max-width: 50%;
    margin-right: 20%;
  }

  .product-content {
    padding: 3rem 0.3rem 2rem 0.3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .product {
    margin: 1rem;
  }

  .product-img {
    width: 250px;
    height: 250px;
  }

  .product-img img {
    transition: transform 0.6s ease;
  }

  .product:hover .product-img img {
    transform: scale(1.1);
  }

  .product:hover .product-img {
    background: var(--carribean-green);
  }

  .product:hover .product-btns {
    opacity: 1;
  }

  .btn-cart,
  .btn-buy {
    background: transparent;
    border: 1px solid black;
    padding: 0.8rem 0;
    width: 110px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
  }

  .btn-cart {
    background: black;
    color: white;
  }

  .btn-cart:hover {
    background: var(--carribean-green);
  }

  .btn-buy {
    background: white;
  }

  .btn-buy:hover {
    background: var(--carribean-green);
    color: #fff;
  }

  .product-1 {
    font-size: 15px;
    line-height: 0.001;
  }

  .product-info {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    padding: 1rem;
  }

  .product-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

