.loginpage {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(183, 75, 210, 1) 100%,
    rgba(252, 70, 107, 1) 100%
  );
  height: 100%;
}

.bg__img {
  width: 700px;
  margin-top: 50px;
  margin-left: 90px;
}

.user {
  width: 100px;
  height: 100px;
}

.forgot__link {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  color: #bababa;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
}

.forgot__link:hover {
  color: #838383;
}

.form-box {
  width: 300px;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: absolute;
  box-shadow: -15px 53px 68px -9px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  top: 55%;
  left: 35%;
  transform: translateY(-50%);
  background: #fff;
  text-align: center;
}

.form-box-register {
  width: 300px;
  padding: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  position: absolute;
  box-shadow: -15px 53px 68px -9px rgba(0, 0, 0, 0.75);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  top: 55%;
  left: 35%;
  transform: translateY(-50%);
  background: #fff;
  text-align: center;
}

.form-box h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
}

.form-box input[type="text"],
.form-box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #6856eb;
  padding: 14px 15px;
  width: 200px;
  outline: none;
  transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
  width: 250px;
  border-color: #b44bd3;
}
.form-box-register input[type="text"],
.form-box-register input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #6856eb;
  padding: 14px 15px;
  width: 200px;
  outline: none;
  transition: 0.25s;
}

.form-box-register input[type="text"]:focus,
.form-box-register input[type="password"]:focus {
  width: 250px;
  border-color: #b44bd3;
}

.btn-login {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #b44bd3;
  width: 230px;
  height: 30px;
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.btn-login:hover {
  background: #9a50dc;
}

@media only screen and (max-width: 1350px) {
  .bg__img {
    margin-left: 50px;
    margin-top: 80px;
    width: 550px;
  }
}

@media only screen and (max-width: 1025px) {
  .bg__img {
    display: none;
  }

  .loginpage {
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(183, 75, 210, 1) 100%,
      rgba(252, 70, 107, 1) 100%
    );
  }

  .form-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media all and (max-width: 550px) {
  .form-box {
    width: 45%;
    height: 57%;
    margin-top: 30px;
  }
  .form-box-register {
    left: 15%;
    top: 50%;
    width: 50%;
    height: 68%;
    margin-top: 30px;
    padding-top: 35px;
  }
  .form-box-register input[type="text"],
  .form-box-register input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #6856eb;
    padding: 6px 10px;
    width: 180px;
    outline: none;
    transition: 0.25s;
  }

  .form-box-register input[type="text"]:focus,
  .form-box-register input[type="password"]:focus {
    width: 200px;
    border-color: #b44bd3;
  }
}

@media all and (max-width: 426px) {
  .form-box {
    width: 50%;
    padding: 50px 30px;
  }

  .form-box input[type="text"],
  .form-box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #6856eb;
    padding: 6px 10px;
    width: 150px;
    outline: none;
    transition: 0.25s;
  }

  .form-box input[type="text"]:focus,
  .form-box input[type="password"]:focus {
    width: 180px;
    border-color: #b44bd3;
  }

  .btn-login {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #b44bd3;
    width: 140px;
    height: 30px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
}

@media all and (max-width: 321px) {
  .form-box {
    width: 60%;
    border-top-left-radius: 35%;
    border-bottom-right-radius: 35%;
  }
  .user {
    width: 60px;
    height: 60px;
  }
  .form-box h1 {
    font-size: 19px;
  }
  .form-box-register {
    width: 50%;
    left: 10%;
    height: 56%;
  }
  .form-box-register input[type="text"],
  .form-box-register input[type="password"] {
    width: 140px;
    transition: 0.25s;
  }

  .form-box-register input[type="text"]:focus,
  .form-box-register input[type="password"]:focus {
    width: 170px;
    border-color: #b44bd3;
  }
}
